* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--clr-neutral-off-white);
}

:root {
    /* Primary */
    --clr-primary-purple: hsl(259, 100%, 65%);
    --clr-primary-light-red: hsl(0, 100%, 67%);

    /* Neutral */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-off-white: hsl(0, 0%, 94%);
    --clr-neutral-light-grey: hsl(0, 0%, 86%);
    --clr-neutral-smokey-grey: hsl(0, 0%, 50%);
    --clr-neutral-off-black: hsl(0, 0%, 8%);

    /* Typography */

    /* font size */
    --fs-xx-large: clamp(72px, 7vw, 92px);
    --fs-x-large: clamp(16px, 5vw, 64px);
    --fs-large: clamp(16px, 5vw, 48px);
    --fs-input-field: clamp(16px, 5vw, 24px);
    --fs-regular: 1rem;
    --fs-small: 0.75rem;
    --fs-tiny: 0.5rem;

    /* clamp */
    --clamp-fs-regular: clamp(16px, 5vw, 24px);

    /* Font weight */
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 800;

    /* general sizes */
    --tiny-size: 0.5rem;
    --small-size: 0.75rem;
    --regular-size: 2rem;
    --big-size: 2.5rem;
    --large-size: 3rem;
    --x-large-size: 10rem;

}

.main-container {
    display: flex;
    padding: var(--big-size);
}

.component-container {
    display: grid;
    margin: auto;
    align-items: center;
    gap: var(--regular-size);
    padding: var(--tiny-size) var(--large-size) var(--large-size) var(--large-size);

    background-color: var(--clr-neutral-white);
    border-radius: var(--regular-size) var(--regular-size) var(--x-large-size) var(--regular-size);

}

form {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--regular-size);
    padding: var(--large-size) 0;
    margin-bottom: var(--small-size);
    border-bottom: 0.75px solid var(--clr-neutral-light-grey);
    transition: all 700ms ease-in-out;
}

.form-containers {
    display: grid;
}

label {
    color: var(--clr-neutral-smokey-grey);
    font-size: var(--fs-small);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.25rem;
    margin-bottom: var(--tiny-size);
}

input {
    min-width: 8rem;
    padding: var(--small-size);
    font-size: var(--fs-input-field);
    font-family: inherit;
    font-weight: var(--fw-semi-bold);

    color: var(--clr-neutral-off-black);
    border: solid var(--clr-neutral-light-grey);
    border-radius: var(--tiny-size);
    cursor: pointer;
}

input:focus {
    outline: solid var(--clr-primary-purple);
}

/* Remove default styling for input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: auto;
    -moz-appearance: textfield;
}

.arrow-icon {
    position: absolute;
    bottom: -42px;
    right: calc(50% - 49px);
    background-color: var(--clr-primary-purple);
    padding: 1rem;
    border: none;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    transform: scale(0.9);
    transition: right 750ms ease-in-out;

}

.arrow-icon:hover {
    background-color: var(--clr-neutral-off-black);
}


.calculator-container {
    display: grid;
}

.calc-text {
    font-size: var(--fs-xx-large);
    font-weight: var(--fw-bold);
    font-style: italic;
    color: var(--clr-neutral-off-black);
}

.computed-value {
    color: var(--clr-primary-purple);
}


@media screen and (min-width: 750px) {
    .main-container {
        width: 100%;
        justify-content: center;
    }

    .arrow-icon {
        position: absolute;
        bottom: -42px;
        right: 0;
        transform: scale(1);
    }

    form {
        min-width: 600px;
    }
}